/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #191724FF;
    background-alt: #1f1d2eFF;
    foreground:     #e0def4FF;
    selected:       #31748fFF;
    active:         #ebbcbaFF;
    urgent:         #eb6f92FF;
}
